<style>
  body {
    text-align: center;
  }
  h1 {
    font-family: whoa;
    src: asset-url("whoa.ttf")format("truetype");
  }
  .field input {
    margin: 0 auto;
    border: 1px solid black;
  }
</style>
<body>
  <h1>Upload Art</h1>

  <%= render 'form' %>

  <%= link_to 'Back', things_path %>
</body>
