/*Font Face Digiffiti*/

@font-face {
    font-family: whoa;
    src: asset-url("whoa.ttf")format("truetype");

    /*font-weight: normal;
    font-style: normal;
    font-variant: normal;
    speak: none;*/
}

@font-face {
  font-family: sprite;
  src: asset-url("sprite.off")format("opentype");
}
