// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.concrit {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;

}*/
.sign  {
  text-align: center;
}

.con p {
  position: relative;
  font-size: 125px;
  font-family: whoa;
  text-align: center;
}

.login {
  margin-top: 50px;
  color: blue;
  text-align: center;
}
.button {
  text-align: center;
  padding-top: 15px;
}
